<div class="row mb-4">
  <div class="col-12 d-flex align-items-center">
    <%= link_to t('turn.today'), pending_turns_path, class: "btn btn-primary" %>
    <% if has_role?(:vacunador,current_user) %>
      <%= link_to t('turn.manual_assign'), new_manual_path, class: "btn btn-secondary mx-3" %>
    <% end %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-4">
    <%= form_tag @turnos, :method => "get" do %>
      <h4>
        <%= label_tag(:search_date, "Filtrar por fecha") %>
      </h4>
      <%= date_field_tag :search_date, params[:search], class: 'form-control mb-3' %>
      <%= submit_tag("Filtrar",:date => nil, class: "btn btn-outline-primary")%>
    <% end %>
  </div>

  <div class="col-4">
    <%= form_tag @turnos, :method => "get" do %>
      <h4>
        <%= label_tag(:search_status, "Filtrar por estado") %>
      </h4>
      <%= select_tag :search_status, options_for_select(Turn.statuses.map { |key,value| [t(key), value] }), class: 'form-select mb-3' %>
      <%= submit_tag("Filtrar", class: "btn btn-outline-primary")%>
    <% end %>
  </div>

  <div class="col-4">
    <%= form_tag @turnos, :method => "get" do %>
      <h4>
        <%= label_tag(:search_status, "Filtrar por centro de vacunacion") %>
      </h4>
      <%= select_tag :search_vaccination_center, options_for_select(VaccinationCenter.all.map { |vaccination_center| [vaccination_center.name, vaccination_center.id] }), class: 'form-select mb-3' %>
      <%= submit_tag("Filtrar", class: "btn btn-outline-primary")%>
    <% end %>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 mb-3">
    <div class="card">
      <div class="card-header">
        <h2>
          <%= t 'sidebar.turns' %>
        </h2>
      </div>
      <div class="card-body <%= 'empty' unless @turns.length > 0 %>">
        <% if @turns.length > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                <%= t 'document' %>
              </th>
              <th scope="col">
                <%= t 'turn.patient' %>
              </th>
              <th scope="col">
                <%= t 'turn.campaign' %>
              </th>
              <th scope="col">
                <%= t 'turn.status' %>
              </th>
              <th scope="col">
                <%= t 'turn.date' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @turns.each do |turn| %>
              <tr>
                <td><%= turn.user.document_number %></td>
                <td><%= turn.user.first_name + turn.user.last_name %></td>
                <td><%= turn.campaign.name %></td>
                <td><%= t turn.status %> </td>
                <td><%= t turn.date.strftime("%d/%m/%Y") %> </td>
              </tr>
            <% end %>
          </tbody>
          
        </table>
        <% else %>
          <p>
            <%= t 'turn.no_turns' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
